.Navbar {
  margin-bottom: 10px;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3F3F3;
}

.Navbar li {
    float: left;
    margin-bottom: 0;
}

.Navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navbar li a:hover {
    color: white;
    background-color: #ab5dda;
}